# Chain Configuration
RPC_ENDPOINT=http://localhost:26657

# Contract Addresses
POST_MINTER_ADDRESS=cosmos14hj2tavq8fpesdwxxcu44rty3hh90vhujrvcmstl4zr3txmfvw9s4hmalr
PROFILE_NFT_MINTER_ADDRESS=cosmos1hsk6jryyqjfhp5dhc55tc9jtckygx0eph6dd02nhwpxrmbgrvesqt67yd5
ROLE_MANAGER_ADDRESS=cosmos1zwky88gqrh3vwelslvzuth85e9h0nvx9upgmu60kv6lyxyuq3p5qngsv4l
TRIBE_CONTROLLER_ADDRESS=cosmos1lpp376aqpra5sxq9r76tfyf9ypv8ua8tkduunzjhrc5tm3nspkxs3pjk2u

# Test Wallet
TEST_MNEMONIC="test test test test test test test test test test test junk" 